body {
	min-width: 300px;
}

.div-main-title {
	margin-top: 5%;
}

.div-checkbox-row-left-padding {
	margin-left: 8px;
}

.textarea-boards {
	width: 160px;
	resize: none;
	/* Fixing up a bug where textarea will disappearing on macs when doing a cmd->a delete*/
	/* https://bugs.chromium.org/p/chromium/issues/detail?id=447421 */
	float: none;
}

.button-save {
	margin-top: 12px;
	display: none;
}
